.ticket__card {
    padding: 0.75rem;
    margin: 2rem ;
    background-color: aliceblue;
    background-size: cover;
    width: max-content;
}

.ticket__card__emergency {
    padding: 0.75rem;
    margin: 2rem ;
    background-color: lightcoral;
    background-size: cover;
    width: max-content;
}

.ticket_detail_parent {
    margin: 5rem;
    justify-content: center;
    display:flex;
}
.ticket_detail {
    background-color: lightseagreen;
    margin: 5rem;
    padding: 5rem;
}